# App
NODE_ENV=production
APP_PORT=3000

# DB
DB_HOST=db
DB_PORT=5432
DB_USER=nestuser
DB_PASS=nestpass
DB_NAME=nestdb
DB_TYPE='postgres'
JWT_SECRET='a4$%#%67d0b5-30^%%db7313#@#$31a0'
JWT_EXPIRES_IN='60m'





# TypeORM
DB_SYNC=false
DB_LOGGING=true
